VITE_CLOUD_URL=https://rpa.wenhandev.com
VITE_CLIENT_DOWNLOAD_MACOS=https://rpa.wenhandev.com/downloads/Auto-Agent-Client-macos.dmg
VITE_CLIENT_DOWNLOAD_WINDOWS=https://rpa.wenhandev.com/downloads/Auto-Agent-Client-windows.msi
VITE_CLIENT_DOWNLOAD_LINUX=https://rpa.wenhandev.com/downloads/Auto-Agent-Client-linux.AppImage
